.navbar-default {
  border-bottom: 1px solid #ccc;
  background-color:#eee;
}


header {
  float:left;
  padding: 35px 0 0 110px;
  width: 100%;
  background-image: url('../images/verge_logo80.png');
  background-repeat: no-repeat;
  background-position: 10px 0px;
  height:90px;
  font-size:28px;
}
h2 {padding:10px;}

.App {

}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 80px;
  margin: 70px 0 0 0;
  color: #666;
}

.featured { 
  padding: 20px;

}
.featured h2 {
  font-size: 18px;
}

.featured img {
  width:90%;
  
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: auto;
}